@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;

  --color-brand-primary: #0EA5E9;
  --color-brand-secondary: #0369A1;
  --color-brand-accent: #F43F5E;
}

@layer base {
  h1, h2, h3, h4 {
    font-family: var(--font-display);
    @apply tracking-tight;
  }
}
